body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

h1 {
  margin: 10px;
}

#status {
  margin: 10px;
  font-size: 18px;
}

#chat {
  height: 60vh;
  overflow-y: auto;
  border: 1px solid #444;
  margin: 10px;
  padding: 10px;
  background: #020617;
}

.input-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  padding: 10px;
}

input {
  width: 60%;
  padding: 10px;
}

button {
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}